* {
	box-sizing: border-box;
}

.logo {
	display: flex;
	margin: 0;
	align-items: center;
	padding: 0 5px;
}

.title-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1a1e1f;
	color: #fff;
	padding: 0px;
	height: 30px;
}

.title-bar .title {
	font-size: 25px;
	font-weight: bold;
	margin-left: 10px;
}

.editor-tabs {
	display: flex;
	height: 100%;
}

.tab {
	margin: 0;
	padding: 0 10px;
	display: flex;
	align-items: center;
	background: #03344b;
	height: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
	position: relative;
}

.tab:hover,
.tab:focus {
	background: #5e6567;
}

.tab.active {
	background-color: #01628b;
}

.close-tab {
	position: absolute;
	top: 4px;
	right: 4px;
	background-color: #ff4c4c;
	color: #ffffff;
	border: none;
	padding: 2px 6px;
	font-size: 12px;
	cursor: pointer;
	border-radius: 3px;
	display: none;
}

.tab:hover .close-tab {
	display: inline-block;
}

.add-tab {
	margin: 0;
	padding: 5px;
	display: flex;
	border-radius: 100%;
	align-items: center;
	background: transparent;
	height: 100%;
	cursor: pointer;
	color: #868686;
	font-size: 30px;
}

.add-tab:hover,
.add-tab:focus {
	background: #555;
}

.window-controls {
	display: flex;
	align-items: center;
	height: 45px;
	padding: 0px;
	margin: 0px;
}

.text-container{
	background-color: #000000;
}

.window-controls button {
	background: none;
	border: none;
	color: #868686;
	cursor: pointer;
	font-size: 16px;
	width: 40px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.window-controls button:hover {
	background-color: #555;
}

.second-top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #5e6567;
	padding: 0 10px;
	height: 30px;
}

.container {
	margin-top: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
	width: auto;
	padding: 20px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 50px;
}

.buttons {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.buttons button {
	background-color: #a7a7a7;
	border: none;
	border-radius: 60px;
	color: #000000;
	cursor: pointer;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	margin-top: 50px;
	padding: 30px;
	height: 115px;
	width: 415px;
}

button .icon {
	margin-right: 20px;
}

button:hover {
	background-color: #cccccc;
}

.plus {
	font-size: 110px;
	margin-right: 20px;
}

.pop-up {
	width: 500px;
	background: #fff;
	border-radius: 7px;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: hidden;
	transform: 0.4s, top 0.4s;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
}

.open-popup {
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}

.link-button-pop-up {
	background-color: #e0e0e0;
	border: none;
	border-radius: 10px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	align-items: center;
	font-size: 18px;
	margin: 10px 0;
	padding: 10px 20px;
	width: 200px;
}

.link-button-pop-up:hover {
	background-color: #cccccc;
}

.close-btn {
	position: absolute;
	top: -5px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-radius: 20%;
	cursor: pointer;
}

.blur {
	filter: blur(30px);
	background: rgba(0, 0, 0, 0.8);
	transition: filter 0ms ease-in-out 0ms;
}

.bottom-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: #fff;
	padding: 0 10px;
	height: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
/* #HERERERERE */

.edit-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	padding: 10px;
	color: #c4cbda;
	font-size: 0.9em;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.edit-bar span {
	margin: 0 10px;
}

textarea {
	border: none;
	overflow: auto;
	outline: none;
	display: fixed;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none; /*remove the resize handle on the bottom right*/
	tab-size: 4;
}

.open {
	margin-left: 35px;
}

.welcome-text h1 {
	margin: auto;
	/* font-size: 300; */
	font-style: italic;
	font-weight: 250;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

.option.active {
	background-color: black;
}
